@media only screen and (max-width: 600px) {
    //hero_sp
    .p-hero {
        height: 190px;
    }

    .p-hero__inner {
        padding-top: 25px;
    }

    //breadcrumb_sp
    .p-breadcrumb {
        height: 25px;
        padding: 0;
    }

    .p-breadcrumb__list {
        font-size: 1.1rem;
        padding: 6px 0 5px;
    }
    
    //contact_sp
    .p-contact-form {
        padding-bottom: 40px;
    }

    .p-contact-form__lead {
        font-size: 1.4rem;
        line-height: 1.6;
        margin: 40px 0 30px;
    }

    .p-contact-form__body {
        padding: 30px;
    }

    .c-form__title {
        font-size: 1.5rem;
        line-height: 2.1;
    }

    .c-form__radio {
        display: flex;
        flex
        label {
            font-size: 1.3rem;
            margin-right: 0;
        }
    }
}
