//contact

.p-contact-form__lead {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 2;
    text-align: center;
    margin: 70px 0 40px;
}

.p-contact-form__body {
    max-width: 1110px;
    margin: 0 auto;
    background-color: #F7F7F7;
    letter-spacing: .05em;
}

.c-form__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2;

    .c-form__require {
        font-size: 1.2rem;
        line-height: 2.25;
        color: #391E88;
        margin-left: 5px;
    }
}

.c-form__radio {
    label {
        font-size: 1.4rem;
        font-weight: 300;
        margin-right: 35px;   
    }
}

.c-form__item {
    // display: flex;
    // flex-direction: column;
    .c-form__input, .c-form__select {
        width: 300px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #AAAAAA;
        border-radius: 6px;
    }

    .c-form__textarea {
        width: 601px;
        height: 255px;
        background-color: #fff;
        border: 1px solid #AAAAAA;
        border-radius: 6px;
    }

    .c-form__note {
        font-size: 1.2rem;
        font-weight: 300;
    }
}

.c-form {
    input[type=tel] {
        width: 200px;
    }
}

.c-form__title {
    display: block;
    margin-bottom: 5px;
}
