//article
.article-wrapper {
    max-width: 751px;
    margin: 0 auto;
}

.article-wrapper__inner {
    margin-top: 70px;
}

.p-post__head {
    font-family: 'Montserrat', sans-serif;
}

.p-post__title {
    font-size: 3.2rem;
    letter-spacing: .05em;
    line-height: 1.4;
}

.p-post__info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 27px;

    .p-post__date {
        font-size: 1.3rem;
        line-height: 1.6;
        margin-right: 10px;
    }

    .c-label-category {
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: .05em;
        background-color: #E8E8E8;
        width: 82px;
        height: 22px;
        border-radius: 50px;
        text-align: center;
    }
}

.p-post__body {
    letter-spacing: .05em;
    margin-bottom: 40px;
    .p-post__text {
        line-height: 1.6;
        margin-top: 30px;
        &:nth-of-type(2), &:nth-of-type(3) {
            margin-top: 0;
        }
    }

    .p-post__headline {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 38px;
        display: flex;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 20px;
        &::before {
            background-color: #391E88;
            border-radius: 5px;
            content: '';
            display: inline-block;
            height: 38px;
            margin-right: 15px;
            width: 6px;
        }
    }

    .p-post__sub-headline {
        font-size: 1.8rem;
        font-weight: 600;
        margin: 39px 0 20px;
    }
}

.p-sns-share__list {
    display: flex;
    // align-items: center;
    .p-sns-share__item {
        margin-right: 6px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.p-post__pager {
    color: #391E88;
    margin: 40.5px 0 110px;
    font-size: 1.4rem;
    font-weight: 300;

    .p-post-pager {
        letter-spacing: .05em;
        line-height: 1.57;
    }
}

.p-post-pager__list {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    border-top: 1px solid #B8AED5;
    border-bottom: 1px solid #B8AED5;
}

.p-post-pager__item--prev {
    margin-right: 31.5px;
    &::after {
        content: '';
        height: 70px;
        width: 1px;
        background-color: ;
    }
    border-right: 1px solid #B8AED5;
    height: 70px;

}

.p-post-pager__item--next {
    margin-left: 31.5px;
}

.p-post-pager__home {
    letter-spacing: .08em;

}
