@media only screen and (max-width: 600px) {
    //breadcrumb_sp
    .p-breadcrumb__list {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    //article_sp
    .article-wrapper__inner {
        margin-top: 40px;
    }

    .p-post__title {
        font-size: 2.2rem;
        line-height: 1.5;
    }

    .p-post__info {
        margin-top: 14px;
        margin-bottom: 14px;

        .c-label-category {
            height: 23px;
            font-size: 1.1rem;
            line-height: 23px;
        }
    }

    .p-post__body {
        .p-post__text {
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 1.7;
            letter-spacing: .05em;
        }

        .p-post__headline {
            font-size: 1.8rem;
            line-height: 1.1;
            letter-spacing: .018em;
            margin-top: 40px;
            &::before {
                height: 24px;
            }
        }

        .p-post__sub-headline {
            font-size: 1.6rem;
            line-height: 1.3;
            letter-spacing: .018em;
        }
    }

    .p-sns-share__list {
        flex-wrap: wrap;
        .p-sns-share__item {
            &:nth-of-type(2) {
                margin-right: 0;
            }
        }
    }

    .p-post__pager {
        font-size: 1.2rem;
        margin: 40.5px 0 80px;

        .p-post-pager {
            line-height: 1.5;
        }
    }

    .p-post-pager__list {
        height: 113px;
    }

    .p-post-pager__item--prev {
        .p-post-pager__link {
            padding: 0 10.5px 0 20px;
        }
    }

    .p-post-pager__item--next {
        .p-post-pager
    }
}
