//article
.article-wrapper {
    margin-top: 70px;
    max-width: 751px;
    margin: 0 auto;
}

.p-post__head {
    font-family: 'Montserrat', sans-serif;
}

.p-post__title {
    font-size: 3.2rem;
    letter-spacing: .05em;
    line-height: 1.4;
}

.p-post__info {
    display: flex;
    align-items: center;

    .p-post__date {
        
    }
}
