//article
.article-wrapper {
    margin-top: 70px;
    max-width: ;
}

.p-post__head {
    font-family: 'Montserrat', sans-serif;
}

.p-post__title {
    font-size: 3.2rem;
    letter-spacing: .05em;
    line-height: 1.4;
}
