//recruit-message
.p-recruit-message__heading {
    .p-recruit-message__title {
        font-size: 7.2rem;
        font-weight: bold;
        letter-spacing: .01em;
        font-family: 'Montserrat', sans-serif;
        color: #391E88;
    }

    .p-recruit-message__subtitle {
        
    }
}
