//recruit-message
.p-recruit-message__heading {
    color: #391E88;
    text-align: center;
    .p-recruit-message__title {
        font-size: 7.2rem;
        font-weight: bold;
        letter-spacing: .01em;
        font-family: 'Montserrat', sans-serif;
    }

    .p-recruit-message__subtitle {
        font-size: 3.2rem;
        letter-spacing: .05em;
        font-weight: 300;
    }
}

.p-recruit-message__body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .05em;
    line-height: 1.75;
    text-align: center;
    margin-top: 38px;
}


//job-list
.p-job-list {
    padding-top: 70px;

    .c-heading-secondary {
        font-family: 'Hiragino Sans', sans-serif;

    }
}

.p-job-list__detail {
    border: 1px solid #B8AED5;
    border-radius: 10px;
    letter-spacing: .05em;
}

.p-job-list__name {
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.p-job-list__table {
    .c-table01 {
        border-collapse: collapse;
        tr {
            border-bottom: 1px solid #DDDDDD;
        }
        th {
            font-weight: 600;
            padding: 31.5px 0 30.5px 21px;
            text-align: left;
            width: 100%;
        }
        td {
            font-family: 'Montserrat', sans-serif;
            line-height: 1.8;
            padding: 31.5px 0 30.5px;
            width: 100%;
            ul {
                list-style: disc;
                // padding-left: 1em;
                margin-left: 20px;
                margin-top: 20px;
            }
        }
        .last-table-title {
            padding: 30.5px 0 147.5px 21px;
        }
    }
}
