@media only screen and (max-width: 1024px) {
    .p-works__img-wrapper {
        margin-right: 30px;
    }
}

@media only screen and (max-width: 775px) {
    .l-header {
        gap: 15px;
    }

    .p-global-nav__list {
        .p-global-nav__item {
            margin-right: 12px;
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width: 650px) {
    .p-message__heading {
        font-size: 3.6rem;
    }
}

@media only screen and (max-width: 600px) {
    //base_sp
    .c-heading-primary {
        font-size: 3rem;
        letter-spacing: .05em;
        text-align: center;
    }

    .l-inner {
        padding: 0 20px;
    }

    .p-hero {
        .c-heading-primary {
            .c-heading-primary__sub {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.3rem;
            }
        }
    }    

    .u-sp-only {
        display: block;
    }

    .u-pc-only {
        display: none;
    }

    //header_sp
    .l-header {
        padding: 0 20px;
        height: 64px;
        .c-btn-menu {
            // display: block;
            width: 34px;
            height: 16px;
            display: flex;
            align-items: center;
        }
    }

    .logo__link {
        img {
            width: 124px;
            height: 22px;
        }
    }

    .c-btn-menu__line {
        width: 100%;
        height: 2px;
        transition: all .4s;
        background-color: #fff;
        position: relative;
        display: inline-block;
        z-index: 12;
        &::before, &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            transition: inherit;
            background-color: inherit;
        }
        &::before {
            top: -7px;
        }
        &::after {
            top: 7px;
        }
    }

    .c-btn-menu.is-active .c-btn-menu__line {
        background-color: transparent;
    }

    .c-btn-menu.is-active .c-btn-menu__line::before, .c-btn-menu.is-active .c-btn-menu__line::after {
        content: "";
        top: 0;
        background-color: #fff;
    }

    .c-btn-menu.is-active .c-btn-menu__line::before {
        content: "";
        transform: rotate(45deg);
    }

    .c-btn-menu.is-active .c-btn-menu__line::after {
        content: "";
        transform: rotate(-45deg);
    }

    .p-global-nav {
        visibility: hidden;
        // display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right bottom, #642390, #19074A);
        text-transform: uppercase;
        transition: .3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-global-nav.is-show {
        transform: translate(0);
        transition: .3s ease;
        visibility: visible;
    }

    .p-global-nav__list {
        flex-direction: column;
        align-items: center;
        .p-global-nav__item {
            font-size: 1.5rem;
            color: #FFF;
            letter-spacing: .05em;
            line-height: 1;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 20px;
            margin-right: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    //hero_sp
    .p-hero {
        text-align: left;
        padding-left: 30px;
    }
    .p-hero__title {
        font-size: 4rem;
        line-height: 1.1;
    }

    .p-hero__subtitle {
        font-size: 1.6rem;
        line-height: 1.8;
        font-weight: 600;
    }

    .p-hero__link {
        margin-top: 30px;

    }


    //news_sp
    .p-news {
        margin: 40px auto 80px;
        .p-news__inner {
            display: block;
        }
    }

    .p-news__body {
        margin-top: 32px;
    }

    .p-news-list__item {
        display: block;
        margin-bottom: 40px;
        &:last-child {
            margin-bottom: 0;
        }
        .p-news-list__label {
            margin: 0 0 0 15px;

            .c-label-category {
                font-size: 1.1rem;
                padding: 2px 0 1px;
            }
        }
    }

    .p-news-list__heading {
        align-items: center;
    }

    .p-news-list__body {
        font-size: 1.4rem;
        margin-top: 10px;
    }


    //service_sp
    .c-card-wrapper--col3 {
        display: block;
    }

    .c-card {
        margin-right: 0;
        width: 100%;
    }

    .c-card__img-wrapper {
        img {
            width: 100%;
        }
    }

    .c-card__title {
        line-height: 1.2;
        margin: 12px 0 9px;
    }

    .c-card__text {
        font-size: 1.4rem;
        line-height: 1.785;
        margin-bottom: 40px;
    }

    .p-service__link {
        margin-top: 0;
    }

    //works_sp
    .p-works {
        margin: 40px auto 0;
        .p-works__inner {
            flex-direction: column;
            padding: 0px 0px 60px;

            &::after {
                width: 100%;
                top: 60%;
                transform: translateY(-39%);
            }
        }
    }

    .p-works__img-wrapper {
        margin-right: 0;
        width: 100%;
    }

    .swiper-slide {
        text-align: center;
        img {
            width: calc(100% - 40px);
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        left: -20px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 7px);
    }

    .p-works__desc {
        margin-top: 10px;
    }

    .p-works__text {
        font-size: 1.4rem;
        line-height: 1.78;
    }
    

    //company_sp
    .p-company {
        background-image: url(../img/cirlcles-sp.webp);
        height: 630px;
        height: auto;
        margin: 18px auto 40px;
        background-color: #fff;
        margin: 0;

        .p-company__inner {
            position: static;
            transform: none;
            padding: 60px 0 118px;
        }
    
    }


    .p-message__heading {
        font-size: 3.2rem;
        line-height: 1.5;
        margin-bottom: 43px;
    }

    .p-message__text {
        font-size: 1.4rem;
        line-height: 1.785;
    }

    //recruit_sp
    .p-recruit {
        margin-bottom: 40px;
        .l-inner {
            padding: 0;
        }
    }

    .p-recruit__inner {
        flex-direction: column-reverse;
    }
    
    .p-recruit__desc {
        width: 100%;
        height: 300px;
    }

    .p-recruit__text {
        font-size: 1.4rem;
        line-height: 1.785;
    }

    .p-recruit__img-wrapper {
        width: 100%;
        background: none;
        img {
            width: 100%;
        }
    }


    //contact_sp
    .p-contact {
        padding: 60px 0;
    }

    .p-contact__heading {
        margin-bottom: 30px;
    }

    .p-contact__text {
        font-size: 1.4rem;
        margin-bottom: 30px;
        line-height: 1.785;
    }


    //footer_sp
    .l-footer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .l-footer-nav__list {
        flex-wrap: wrap;
        justify-content: left;
    }

    .l-footer-nav__item {
        font-size: 1.2rem;
        line-height: 1.25;
        margin-bottom: 20px;
        // &:first-of-type {
        //     padding-left: 31px;
        // }
        // &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        //     padding-bottom: 20px;
        // }
        // &:nth-of-type(5) {
        //     padding-left: 32px;
        // }
        
    }

    .c-copyright {
        margin-top: 30px;
    }


    //page-top_sp
    .c-page-top {
        right: 20px;
        bottom: 20px;
    }
}
