$main-color: #391E88;

//base
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Hiragino Sans', sans-serif;
    color: #333;
}

img {
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.c-heading-primary {
    font-size: 3.6rem;
    font-weight: bold;
    color: $main-color;
    letter-spacing: .02em;
    line-height: 1;
    .c-heading-primary__sub {
        display: block;
        margin-top: 5px;
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: .05em;

    }
}

.c-btn {
    border-radius: 50px;
    width: 220px;
    font-weight: bold;
    display: inline-block;
    padding: 18px 0;
    text-align: center;
    letter-spacing: .05em;
    line-height: 1;
    text-transform: uppercase;
}

.u-sp-only {
    display: none;
}


//header
.l-header {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #21054D;
    .c-btn-menu {
        display: none;
    }
}

.logo {
    line-height: 0;
}

.p-global-nav__list {
    display: flex;
    .p-global-nav__item {
        margin-right: 25px;
        font-weight: bold;
        font-size: 1.4rem;
        color: #fff;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

//hero
.p-hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: calc(100vh - 86px);
    // height: 100vh;
    // height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-hero__title {
    font-size: 7.2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: .05em;
    font-family: 'Montserrat', sans-serif;
    // text-align: center;
}

.p-hero__subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.58;
}

.p-hero__link {
    margin-top: 50px;
    .c-btn {
        border: 1px solid #fff;
    }
}

@keyframes scrollDownLine {
    0% {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    50.1% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
    100% {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
}


.p-hero__scroll {
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 10px 10px 90px;
    text-transform: uppercase;
    overflow: hidden;
    writing-mode: vertical-lr;
    font-size: 1.2rem;
    font-weight: bold;
    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 80px;
        background-color: #fff;
        content: "";
        animation: scrollDownLine 1.5s infinite;
    }

}


//news
.p-news {
    max-width: 917px;
    .p-news__inner {
        display: flex;
        // justify-content: space-between;

    }
}

.p-news-list__item {
    display: flex;
    align-items: center;
}

.p-news-list__heading {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    .p-news-list__date {
        font-size: 1.5rem;
        letter-spacing: .1em;
        font-weight: 400;
    }
    .p-news-list__label {
        width: 82px;
        background-color: #E8E8E8;
        border-radius: 50px;
        text-align: center;

        .c-label-category {
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: .05em;
            padding: 3px 0px 2px;
            // line-height: 1;
        }
    }
}

.p-news-list__body {
    font-size: 1.5rem;
}
