$main-color: #391E88;

//base
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Hiragino Sans', sans-serif;
    color: #333;
}

img {
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.c-heading-primary {
    font-size: 3.6rem;
    font-weight: bold;
    color: $main-color;
}


//header
.l-header {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #21054D;
    .c-btn-menu {
        display: none;
    }
}

.logo {
    line-height: 0;
}

.p-global-nav__list {
    display: flex;
    .p-global-nav__item {
        margin-right: 25px;
        font-weight: bold;
        font-size: 1.4rem;
        color: #fff;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

//hero

.p-hero__title {
    font-size: 7.2rem;
    fw
}

