$main-color: #391E88;

//base
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Hiragino Sans', sans-serif;
    color: #333;
}

img {
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.c-heading-primary {
    font-size: 3.6rem;
    font-weight: bold;
    color: $main-color;
    letter-spacing: .02em;
    line-height: 1.2;
    .c-heading-primary__sub {
        display: block;
        margin-top: 5px;
        font-weight: 600;
        font-size: 1.3rem;
        letter-spacing: .05em;

    }
}

.c-btn {
    border-radius: 50px;
    width: 220px;
    font-weight: bold;
    display: inline-block;
    padding: 18px 0;
    text-align: center;
    letter-spacing: .05em;
    line-height: 1;
    text-transform: uppercase;
    background: linear-gradient(to right, #7633A4, #250D65);
    color: #fff;
    font-size: 1.4rem;
}

.u-sp-only {
    display: none;
}


//header
.l-header {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #21054D;
    .c-btn-menu {
        display: none;
    }
}

.logo {
    line-height: 0;
}

.p-global-nav__list {
    display: flex;
    .p-global-nav__item {
        margin-right: 25px;
        font-weight: bold;
        font-size: 1.4rem;
        color: #fff;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

//hero
.p-hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    height: calc(100vh - 86px);
    // height: 100vh;
    // height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-hero__title {
    font-size: 7.2rem;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: .05em;
    font-family: 'Montserrat', sans-serif;
    // text-align: center;
}

.p-hero__subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: 1.58;
}

.p-hero__link {
    margin-top: 50px;
    .c-btn {
        border: 1px solid #fff;
        font-size: 1.5rem;
        background: none;
    }
}

@keyframes scrollDownLine {
    0% {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    50% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    50.1% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
    100% {
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
}


.p-hero__scroll {
    position: absolute;
    right: 20px;
    bottom: 0;
    padding: 10px 10px 90px;
    text-transform: uppercase;
    overflow: hidden;
    writing-mode: vertical-lr;
    font-size: 1.2rem;
    font-weight: bold;
    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 80px;
        background-color: #fff;
        content: "";
        animation: scrollDownLine 1.5s infinite;
    }

}


//news
.p-news {
    max-width: 917px;
    margin: 70px auto 140px;
    .p-news__inner {
        display: flex;
        justify-content: space-between;

    }
}

.p-news-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.p-news-list__heading {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    .p-news-list__date {
        font-size: 1.5rem;
        letter-spacing: .1em;
        font-weight: 400;
    }
    .p-news-list__label {
        width: 82px;
        background-color: #E8E8E8;
        border-radius: 50px;
        text-align: center;
        margin: 0px 20px;
        // margin-bottom: 15px;

        .c-label-category {
            font-size: 1.2rem;
            font-weight: bold;
            letter-spacing: .05em;
            padding: 3px 0px 2px;
            // line-height: 1;
        }
    }
}

.p-news-list__body {
    font-size: 1.5rem;
    letter-spacing: .05em;
    font-weight: 300;
}


//service
.p-service {
    max-width: 1110px;
    margin: 0 auto;

    .p-service__heading {
        text-align: center;
        margin-bottom: 30px;
    }
}

.c-card-wrapper--col3 {
    display: flex;
}

.c-card {
    margin-right: 30px;
    &:last-of-type {
        margin-right: 0;
    }
}

.c-card__title {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1;
    margin: 22px 0 16px;
}

.c-card__text {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.8;
}

.p-service__link {
    text-align: center;
    margin-top: 30px;
}


//works
.p-works {
    max-width: 1261px;
    margin: 0 auto;
    .p-works__inner {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            z-index: -1;
            display: block;
            width: 60%;
            height: 100%;
            transform: translateY(-50%);
            background-color: #F0F0F0;
        }
    }
}

.p-works__desc {
    text-align: center;
}

.p-works__text {
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.8;
    margin: 30px 0;
}

.p-works__img-wrapper {
    width: 60%;
    margin-right: 20px;
}

// .swiper-wrapper {
// }

.swiper-slide {
    width: 100%;
}


//company
.p-company {
    background-image: url(../img/bg-company.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1300px;
    margin: 40px auto 70px;
    text-align: center;
    height: 615px;
    position: relative;
    .p-company__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        // -webkit- transform: translateY(-50%) translateX(-50%);
        width: 100%;
    }
}

.p-company__body {
    margin-top: 40px;
}

.p-message__heading {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .05em;
    line-height: .8;
    margin-bottom: 46px;

    .p-message__underline {
        // background-color: #F5F534;
        background: linear-gradient(transparent 70%, #F5F534 70%);
        // height: 12px;
        // width: 100%;
        padding-bottom: 6px;
    }
}

.p-message__text {
    letter-spacing: .05em;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 30px;
}


//recruit
.p-recruit {
    max-width: 1110px;
    // margin: 0 auto;
}

.p-recruit__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-recruit__desc {
    background-color: #F7F7F7;
    text-align: center;
    hei
}

.p-recruit__heading {
    margin-bottom: 30px;
}

.p-recruit__text {
    letter-spacing: .05em;
    line-height: 1.866;
    font-weight: 300;
    margin-bottom: 30px;
}
