$main-color: #391e88;

//base
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-family: "Hiragino Sans", sans-serif;
  color: #333;
}

img {
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.c-heading-primary {
  font-size: 3.6rem;
  font-weight: bold;
  color: $main-color;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  .c-heading-primary__sub {
    display: block;
    margin-top: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.05em;
    font-family: "Hiragino Sans", sans-serif;
  }
}

.p-hero {
  .c-heading-primary {
    .c-heading-primary__sub {
      font-family: "Montserrat", sans-serif;
      font-size: 1.4rem;
    }
  }
}

.c-heading-primary--white {
  color: #fff;
}

.c-btn {
  border-radius: 50px;
  width: 200px;
  font-weight: bold;
  display: inline-block;
  padding: 18px 0;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
  background: linear-gradient(to left, #7633a4, #250d65);
  color: #fff;
  font-size: 1.4rem;
  position: relative;
  z-index: 0;

  &:hover::after {
    opacity: 0;
  }

  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s;
    border-radius: 50px;
    z-index: -1;
    background: linear-gradient(to right, #7633a4, #250d65);
  }
}

.u-sp-only {
  display: none;
}

//header
.l-header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;
  transition: all 0.3s;
  .c-btn-menu {
    display: none;
  }
}
.is-active {
  background-color: #21054d;
  height: 64px;
}

.logo {
  line-height: 0;

  img {
    width: 100%;
  }
}

.p-global-nav__list {
  display: flex;
  .p-global-nav__item {
    margin-right: 25px;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 0.05em;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.p-global-nav__link {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: 0.3s;
  }
  &:hover::after {
    width: 100%;
  }
}

//hero
.p-hero {
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  // height: calc(100vh - 86px);
  height: 100vh;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-hero__title {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.25;
  letter-spacing: 0.05em;
  font-family: "Montserrat", sans-serif;
  // text-align: center;
}

.p-hero__subtitle {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.58;
}

.p-hero__link {
  margin-top: 50px;
  .c-btn {
    border: 1px solid #fff;
    font-size: 1.5rem;
    background: none;
    width: 220px;

    &::after {
        content: "";
        display: none;
    }
  }
}

@keyframes scrollDownLine {
  0% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  50.1% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  100% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}

.p-hero__scroll {
  position: absolute;
  right: 20px;
  bottom: 0;
  padding: 10px 10px 90px;
  text-transform: uppercase;
  overflow: hidden;
  writing-mode: vertical-lr;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 80px;
    background-color: #fff;
    content: "";
    animation: scrollDownLine 1.5s infinite;
  }
}

//news
.p-news {
  max-width: 957px;
  margin: 70px auto 140px;
  .p-news__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 20px;
  }
}

.p-news-list__item {
  display: flex;
  // align-items: center;
  margin-bottom: 15px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.p-news-list__heading {
  font-family: "Montserrat", sans-serif;
  display: flex;
  // align-items: center;
  .p-news-list__date {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
  .p-news-list__label {
    width: 82px;
    height: 22px;
    background-color: #e8e8e8;
    border-radius: 50px;
    text-align: center;
    margin: 0px 20px;

    .c-label-category {
      font-size: 1.2rem;
      font-weight: bold;
      letter-spacing: 0.05em;
      padding: 3px 0px 2px;
      // line-height: 1;
    }
  }
}

.p-news-list__body {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 300;
}

.p-news-list__link:hover {
  text-decoration: underline;
}

//service
.p-service {
  max-width: 1110px;
  margin: 0 auto;

  .p-service__inner {
    padding: 0 20px;
  }

  .p-service__heading {
    text-align: center;
    margin-bottom: 30px;
  }
}

.c-card-wrapper--col3 {
  display: flex;
}

.c-card {
  // width: calc(33.33333% - 20px);
  margin-right: 30px;
  width: calc(100% / 3 - 20px);

  &:last-of-type {
    margin-right: 0;
  }
}

.c-card__img-wrapper {
  img {
    width: 100%;
    // max-width: 350px;
  }
}

.c-card__title {
  text-align: center;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 22px 0 16px;
}

.c-card__text {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.8;
}

.p-service__link {
  text-align: center;
  margin-top: 30px;
}

//works
.p-works {
  max-width: 1261px;
  margin: 140px auto 0;
  .p-works__inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 60px 20px 81px 20px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      z-index: -1;
      display: block;
      width: 60%;
      height: 100%;
      transform: translateY(-50%);
      background-color: #f0f0f0;
    }
  }
}

.p-works__desc {
  text-align: center;
}

.p-works__text {
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.8;
  margin: 30px 0;
}

.p-works__img-wrapper {
  // width: 66%;
  max-width: 750px;
  // width: 100%;
  width: 60%;
  // margin-right: 20px;
  margin-right: 70px;
}

.swiper-container {
  position: relative;
  z-index: 1;
  padding-bottom: 30px;
}

// .swiper-wrapper {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     display: flex;
//     transition-property: transform;
//     box-sizing: content-box;
// }

.swiper-slide {
  img {
    max-width: 100%;
  }
  //     width: 100%;
  //     height: 100%;
  //     flex-shrink: 0;
  //     position: relative;
  //     transition-property: transform;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, 3px);
}

.swiper-pagination-bullets {
  // bottom: 53px !important;
  // width: initial;
  // left: initial;
  // right: 0;
  text-align: right;
}

.swiper-pagination-bullet {
  background-color: #391e88;
}

//company
.p-company {
  background-image: url(../img/bg-company.webp);
  background-position: center;
  // background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1300px;
  margin: 40px auto 70px;
  text-align: center;
  height: 615px;
  position: relative;
  .p-company__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    // -webkit- transform: translateY(-50%) translateX(-50%);
    width: 100%;
  }
}

.p-company__body {
  margin-top: 40px;
}

.p-message__heading {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 0.8;
  margin-bottom: 46px;

  .p-message__underline {
    // background-color: #F5F534;
    background: linear-gradient(transparent 72%, #f5f534 72%);
    // height: 12px;
    // width: 100%;
    padding-bottom: 6px;
  }
}

.p-message__text {
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-weight: 300;
  margin-bottom: 30px;
}

//recruit
.p-recruit {
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.p-recruit__inner {
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.p-recruit__desc {
  background-color: #f7f7f7;
  text-align: center;
  height: 332px;
  width: 40%;
  position: relative;

  .p-recruit__desc-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    // -webkit- transform: translateY(-50%) translateX(-50%);
    width: 100%;
  }
}

.p-recruit__heading {
  margin-bottom: 30px;
}

.p-recruit__text {
  letter-spacing: 0.05em;
  line-height: 1.866;
  font-weight: 300;
  margin-bottom: 30px;
}

.p-recruit__img-wrapper {
  background-image: url(../img/education.webp);
  background-position: center;
  background-size: cover;
  width: 60%;
}

//contact
.p-contact {
  background-color: #f7f7f7;
  max-width: 100%;
  text-align: center;
  padding: 80px 0;
}

.p-contact__heading {
  margin-bottom: 35px;
}

.p-contact__text {
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 2.1;
  margin-bottom: 31px;
}

//footer
.l-footer {
  background-color: #120e19;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 60px 0;
}

.l-footer-nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-footer-nav__item {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0;
  color: #fff;
  margin-right: 20px;
  &:last-of-type {
    margin-right: 0;
  }
}

.c-copyright {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 22px;
}

//page-top
.c-page-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
  background-color: #ffffff;
  border: solid 1px #707070;
  border-radius: 50%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 2;
  color: #391e88;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
  // display: block;

  &:hover {
    opacity: .8;
  }

  .c-page-top__link {
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 12px;
  }
}
