//works-list
.p-works-list-wrapper {
    max-width: 1110px;
    margin: 70px auto 109px;
    
    .c-card {
        width: 32%;
        margin-right: 0;
    }
}

.p-works-list {
    flex-wrap: wrap;

    .c-card__caption {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: .05em;
        margin-bottom: 15px;
    }
    
}

